@charset "UTF-8";

html {
	postion : relative;
	min-height : 100%;
}

body {
	margin-bottom : 60px;
	background-color : #343a40!important	
}

.contents {
	background-color : rgba(255, 255, 240, 0.8);
	padding : 5%;
	margin-bottom : 2%;
	width : auto;
	height : auto;	
}

.marketing .row {
	text-align : center;
}

#btn {
	float : right;
}

#btnGroup {
	float : right;
}

#btnGroup ul {
	list-style : none;
}

#btnGroup li {
	display : inline-block;
}

#pagingNav{
	text-align : center;
}

/* home 
-------------------------------------------------- */

@media all and (max-width: 768px) { 
	#home { 
		background-image : url("shifaaz-shamoon-resize.jpg");
		background-size : 100% 100%;
		background-repeat : no-repeat;
	}
}

@media all and (min-width: 769px) { 
	#home { 
		background-image : url("shifaaz-shamoon-resize.jpg");
		background-size : 100%;
		background-repeat : no-repeat;
	}
}

#home h1 {
	color : AliceBlue;
}

#home .lead {
	color : #DCDCDC;
}

#home .page-header {
	padding : 30px;
	font-size : 50px;
	font-weight : bold;
	background-color: rgba( 255, 255, 255, 0.1 );
}

/* footer 
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #101010;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

